.green-bg {
    /*background: #1e7e34;*/
    height: 50px;
}
.blue-bg{
    background: #007bff;
    height: 100px;
}
header{
    /*height: 100px;*/
    /*background: #721c24;*/
}
.singIn{
    margin-left: 40px;
    margin-right: -20px;
}
.bg-black{
    background: #1b1e21;
    height: 300px;
}
.bg-grey{
    background: #4e555b;
    height: 300px;
}